/* Team Section Styles */
.team-item {
  background: #f2f2f2;
  border-radius: 8px;
  overflow: hidden;
  transition: .5s;
}

.team-header {
  height: 120px;
  background: #26d48c;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  position: relative;
  margin-bottom: -50px;
}

.team-img-container {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.team-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid #26d48c;
  object-fit: cover;
  padding: 3px;
  background: white;
}

.team-content {
  padding-top: 60px;
}

.team-item:hover .team-social {
  opacity: 1;
  bottom: 20px;
}

.team-social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #26d48c;
  color: white;
  margin: 0 5px;
  transition: .3s;
}

.team-social-icon:hover {
  background: #00D289;
  filter: brightness(0.9);
}

/* Projects Section Styles */
.project-item {
  position: relative;
  border-radius: 10px;
}

.project-img-container {
  position: relative;
  margin: 15px;
  /* Give space for the background shapes to peek out */
  z-index: 1;
}

.project-img-container img {
  border-radius: 10px;
  width: 100%;
  position: relative;
  z-index: 1;
  /* Image on top */
}

.project-img-container::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 100%;
  height: 100%;
  background: #00D289;
  /* Green */
  border-radius: 10px;
  z-index: -1;
}

.project-img-container::after {
  content: "";
  position: absolute;
  bottom: -15px;
  right: -15px;
  width: 100%;
  height: 100%;
  background: #1842b6;
  /* darker blue */
  border-radius: 10px;
  z-index: -2;
}

/* Hover effects */
.project-content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
  z-index: 2;
}

.project-img-container:hover .project-content-overlay {
  opacity: 1;
}

.project-content-overlay h4 {
  color: white;
}

.project-content-overlay a.btn {
  margin-top: 10px;
}